@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: lavenderblush;
    background: rgb(224,152,186);
    background: linear-gradient(90deg, rgba(224,152,186,1) 0%, rgba(209,123,215,1) 46%, rgba(92,228,255,1) 100%);

  }

a {
    background-color: rgb(255, 255, 255);
    padding: 2px 7px;
    font-weight: bold;
    
}

a:hover {
    background-color:rgb(248, 230, 128);
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

.dicky {
    background: rgb(92,228,255);
    background: linear-gradient(90deg, rgba(92,228,255,1) 0%, rgba(236,138,229,1) 100%); 
}